<div id="app">{{ appName }}: Angular + TypeScript</div>

<div [ngSwitch]="account !== null">
  <form role="form" (ngSubmit)="login()" [formGroup]="loginForm" *ngSwitchCase="false">
    <div>
      <label class="username-label" for="username">Login</label>
      <input type="text" name="username" id="username" formControlName="username" #username />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" formControlName="password" />
    </div>
    <button type="submit">Sign in</button>
  </form>

  <div *ngSwitchCase="true">
    <div>You are logged in as user "{{ account?.login }}".</div>
    <button (click)="logout()">Logout</button>
  </div>
</div>

<router-outlet></router-outlet>
